<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822428050129-usgu0kqdk7l35s8ld1tud27lq5ejuo2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822428050129-usgu0kqdk7l35s8ld1tud27lq5ejuo2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>822428050129-pbq3cnbcdf9e7ult14eii365uffjud51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaMgoYnDcSfIhka1bOQroD6cge-c1oB54</string>
	<key>GCM_SENDER_ID</key>
	<string>822428050129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fitegy.official.com</string>
	<key>PROJECT_ID</key>
	<string>fitegy-8c775</string>
	<key>STORAGE_BUCKET</key>
	<string>fitegy-8c775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822428050129:ios:3cad16c2922e4a9a515bf0</string>
</dict>
</plist>